.page-container {
  padding-top: 56px;
}

.content {
  margin-left: 5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dropzone {
  width: 100%;
  margin: 10 0 10 10;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 3px;
  border-radius: 10px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s;
}

.post {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 16px;
  margin-left: 10px;
}

.frame {
  width: 500px;
  height: 500px;
  padding: 5px;
  display: inline-flex;
  border-radius: 2px;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  position: relative;
}

.picture {
  display: flex;
  min-width: 0px;
  overflow: hidden;
}

.tags-field {
  display: block;
  width: auto;
  height: 100%;
}

.tag {
  position: absolute;
  display: flex;
  align-items: center;
}

.active {
  color: #04da0a;
}

.tag-content {
  background-color: rgba(0, 0, 0, 0.75);
  color: #bdbdbd;
  border-radius: 5px;
  padding: 4px;
  font-size: 20px;
}
